includes:
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon
	- vendor/nextras/orm-phpstan/extension.neon

parameters:
	tmpDir: %currentWorkingDirectory%/var/tmp

	ignoreErrors:
		- message: '#^Variable property access on Nextras\\Orm\\Entity\\IEntity\.$#'
		  path: %currentWorkingDirectory%/src/Collection/Synchronizer.php
		- message: '#^Parameter \#2 \$search of function array_key_exists expects array, array\|false given\.$#'
		  path: %currentWorkingDirectory%/src/Collection/Synchronizer.php
		- message: '#^Argument of an invalid type array\|false supplied for foreach, only iterables are supported\.$#'
		  path: %currentWorkingDirectory%/src/Collection/Synchronizer.php
